# Virtual Environments
venv/
.venv/
env/
ENV/
Chubby/
*env*/

# Python caches and bytecode
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Machine Learning Model weights / Large binaries
*.pkl
*.h5
*.pth
*.joblib

# Operating system files
.DS_Store
Thumbs.db

# JetBrains / PyCharm settings
.idea/
*.iml
*.iws